{% if object.owed_by.id == request.user.id %}
<p>A UOMe of stuff you owe {{ object.owed_to.username }}</p>
{% elif object.owed_to.id == request.user.id %}
<p>A UOMe of stuff {{ object.owed_by.username }} owes you</p>
{% endif %}

<p>Description: {{ object.description }}</p>
<p>Cash value: {{ object.cash_value }}</p>

{% if object.owed_by.id == request.user.id %}
<a href="{% url 'uome_acknowledge' pk=object.pk %}">Acknowledge UOMe</a>
{% endif %}